html,
body {
  font-family: "B612", serif;
}

h1,
h2 {
  font-weight: normal;
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: none;
}
